@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: system-ui;
  color: rgb(34, 33, 33);
  height: 100vh;
  margin: 0;

  display:flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  
}

header { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-title {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

header h4 {
  text-align: center;
}


#search-area {
  /* border: 1px solid black; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#search_input {
  position: relative;
  z-index: 100;
}

.search-bar {
  border: solid lightgrey;
  width: min(600px, 80vw);
  height: 25px;
  font-size: 15px;
  border-radius: 20px ;
  padding: 6px 0;
  box-shadow: 0 1px 5px transparent;
  background-image: url("image/loupe_icon.png");
  background-size: 20px;
  background-position: 2%;
  background-repeat: no-repeat;
  padding-left: 40px;
  z-index: 100;
}

.search-bar:hover {
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: 0 1px 5px #b4b3b3;
  border: solid transparent;
}

.search-bar:focus {
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-box-shadow: 0 1px 5px #b4b3b3;
          box-shadow: 0 1px 5px #b4b3b3;
  border: solid transparent;
}

.caché {
  visibility: hidden;
}

#divAddresses {
  display: none;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%);

  text-align: left;
  padding-top: 20px;
  box-shadow: 0 1px 5px #b4b3b3;
  border: solid transparent;
}

#outputAddresses {
  padding: 10px 20px 0 20px;
}

#divAddresses li {
  cursor: pointer;
  list-style-type: none;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#divAddresses li span {
  font-weight: bold;
}

#divAddresses li:hover {
  background-color: #ebf4ff;
}



#depute {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  display: flex;
  padding: 20px;
  border-radius: 5px;
}

#photo-nom {
  padding-left: 10px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#nom {
  padding-top: 10px;
  font-size: 13px;
}

#info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  font-size: 14px;
}

#nom-circo {
  display: flex;
  padding: 10px 0;
}

#nom-circo div {
  width: 100%;

}

#email {
  padding: 10px 0; 
}

footer { 
  min-height: 50px; 
  width: 100%;
  margin-top: auto; 

  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 450px) {
  
  body {
    font-family: system-ui;
    color: rgb(34, 33, 33);
    height: 100vh;
    margin: 0;
  
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    
  }
  
  header { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
  }
  
  #main-title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -10px;
  }

  .breakLess450px {
    display: inline;
}
  
  header h4 {
    text-align: center;
    font-size: 15px;
  }

  #search-area {
    padding-top: 30px;
  }

  #depute {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: flex;
    padding: 20px;
    border-radius: 5px;
    width: min(600px, 80vw);
  }

  #depute {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }

  #info, #email-metier  {
    text-align: left;
  }

  #photo-nom {
    padding-bottom: 20px;
  }




}