<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <link rel="stylesheet" href="static/style.css" />

        <title>🏛Trouver votre député!</title>
    </head>

    <body>

        <header>
            <h1 id="main-title">🏛 Trouvez votre député!</h1>
            <h4>en indiquant simplement 
            <br class="breakLess450px">    
            votre adresse postale</h4>

        </header>

        <section id="search-area">
            <form method="POST">
                <div id="wrapper">
                    <div id="search_input">
                        <input
                            class="search-bar"
                            id="inputAddress"
                            type="text"
                            name="inputAddress"
                            placeholder="Indiquer votre adresse postale.."
                            autocomplete="off"
                        />
                    </div>
                    <div id="divAddresses">
                        <ul id="outputAddresses">
                        </ul>
                    </div>
                </div>

                <div>
                    <input
                        class="caché"
                        id="searchButton"
                        type="submit"
                        name="btnG"
                        value="Rechercher"
                    />
                </div>
            </form>
        </section>

        <section id="answer">
            {% if data is defined%}
                {% if data|length > 1 %}
                <div id="depute">
                    <div id="photo-nom">
                        <embed
                            src= {{data[3]}}
                            type="image/jpg"
                        />
                        <div id="nom"><b>{{data[1]}} {{data[0]}}</b></div>
                    </div>
                    
                    <div id="info">
                        <div id="nom-circo">
                            <div id="parti">
                                <div>{{data[5]}}</div>
                            </div>
                            <div id="circo">
                                <div>Département: {{data[4]}}</div>
                                <div>Circonscription n°{{data[6]}}</div>
                            </div>
                        </div>
                        <div id="email-metier">
                            <div id="email">
                                {% if data|length == 9 %}
                                <div>Email: <a href="mailto:'{{data[2]}}'">{{data[2]}}</a></div>
                                {% else %}
                                <div>Email 1: <a href="mailto:'{{data[2]}}'">{{data[2]}}</a></div>
                                <div>Email 2: <a href="mailto:'{{data[9]}}'">{{data[9]}}</a></div>
                                {% endif %}
                            </div>
                            <div id="metier">
                                <div>
                                    <div>Profession: {{data[7]}}</div>
                                    <div><a href="{{data[8]}}" target="_blank">Page de l'Assemblée Nationale</a></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                {% elif data|length == 1 %}
                    <div>
                        <h5>{{data[0]}}</h5>
                    </div>
                {% endif %}
            {% endif %}

        </section>
            
        

    <footer>
        Made by Arthut Verot
    </footer>
    
    </body>
    <script type="text/javascript" src="static/script.js"></script>
</html>
